In [27]:
import pandas as pd
import numpy as np

marketValue_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/2010-2025.csv")

In [28]:
marketValue_df.head()

         date          club_name market_value current_value
0  2010-11-01    Manchester City     €360.30m       €1.31bn
1  2010-11-01         Arsenal FC     €303.00m       €1.13bn
2  2010-11-01       Liverpool FC     €275.00m      €993.50m
3  2010-11-01         Chelsea FC     €360.00m      €922.00m
4  2010-11-01  Tottenham Hotspur     €282.70m      €836.10m

#processing data for marketValue data sets

In [29]:
marketValue_df.info() #overlook of 2010-2025 market value datasets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6900 entries, 0 to 6899
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           6900 non-null   object
 1   club_name      6900 non-null   object
 2   market_value   6900 non-null   object
 3   current_value  6900 non-null   object
dtypes: object(4)
memory usage: 215.8+ KB

In [30]:
marketValue_df["date"] = pd.to_datetime(df["date"])
#define a function to translate money symbol to numerical value
def parse_value(value_str):
    s = value_str.strip().replace("€","")
    if s.endwith("bn"):
        numeric_part = s.replace("bn", "")
        return float(numeric_part)*1e9
    elif s.endwith("m"):
        numeric_part = s.replace("m","")
        return float(numeric_part) * 1e6
    else:
        return float(s)
marketValue_df["market_value"] = df["market_value"]

In [32]:
marketValue_df.head()

        date          club_name market_value current_value
0 2010-11-01    Manchester City     €360.30m       €1.31bn
1 2010-11-01         Arsenal FC     €303.00m       €1.13bn
2 2010-11-01       Liverpool FC     €275.00m      €993.50m
3 2010-11-01         Chelsea FC     €360.00m      €922.00m
4 2010-11-01  Tottenham Hotspur     €282.70m      €836.10m

In [18]:
RawData_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/RawDataPremier.csv")

In [19]:
RawData_df.tail()

,Team_ID,TeamName,Season,Wins,Losses,Goals,Goal_Conceded,GoalsPerMatch,Shots,ShotsOnTarget,...,TackleSuccess%,BlockedShots,Interceptions,Clearances,HeadedClearance,AerialBattle/DuelsWon,ErrorsLeadingToGoal,OwnGoals,Champion,FiredManager
193,15,Nottingham-Forest,2023/24,9,20,49,67,1.29,451,148,...,59%,116,331,910,440,"2,554",8,2,0,1
194,18,Sheffield-United,2023/24,3,28,35,104,0.92,365,129,...,57%,105,347,997,451,"2,466",9,7,0,1
195,21,Tottenham-Hotspur,2023/24,20,12,74,61,1.95,584,215,...,62%,171,355,652,334,"2,319",6,3,0,0
196,25,West-Ham-United,2023/24,14,14,60,74,1.58,450,154,...,62%,112,361,862,417,"2,585",3,4,0,0
197,38,Wolverhampton-Wanderers,2023/24,13,18,50,65,1.32,429,160,...,58%,111,284,786,406,"2,450",3,1,0,0

In [20]:
manager_Changes_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/manager_changes_2010_2025.csv")

In [22]:
manager_Changes_df.tail()

,season,change_type,club,coach_name,role,matchday,rank1,ppg1,last_match_home,last_match_away,last_match_score,leaving_date,days_in_charge,successor_name,successor_role,rank2,ppg2,first_match_home,first_match_away,first_match_score
243,2025,Change(s) in coach during the season,Wolverhampton Wanderers,Gary O'Neil,Manager,16,19,0.56,Wolverhampton Wanderers,Ipswich Town,1:2,"Dec 15, 2024",494,Vítor Pereira,Manager,17,1.31,Leicester City,Wolverhampton Wanderers,0:3
244,2025,Change(s) in coach during the season,Leicester City,Ben Dawson,Caretaker Manager,13,16,0.00,Brentford FC,Leicester City,4:1,"Nov 30, 2024",5,Ruud van Nistelrooy,Manager,19,0.44,Leicester City,West Ham United,3:1
245,2025,Change(s) in coach during the season,Leicester City,Steve Cooper,Manager,12,16,0.83,Leicester City,Chelsea FC,1:2,"Nov 24, 2024",146,Ben Dawson,Caretaker Manager,16,0.00,Brentford FC,Leicester City,4:1
246,2025,Change(s) in coach during the season,Manchester United,Ruud van Nistelrooy,Caretaker Manager,11,13,2.00,Manchester United,Leicester City,3:0,"Nov 11, 2024",14,Rúben Amorim,Manager,13,1.22,Ipswich Town,Manchester United,1:1
247,2025,Change(s) in coach during the season,Manchester United,Erik ten Hag,Manager,9,14,1.22,West Ham United,Manchester United,2:1,"Oct 28, 2024",850,Ruud van Nistelrooy,Caretaker Manager,13,2.00,Manchester United,Leicester City,5:2

In [23]:
Income_Expanditures_df= pd.read_csv("https://storm.cis.fordham.edu/~jcao42/PremierLeague_Transfers_Income_expenditures_2014_2024.csv")

In [25]:
Income_Expanditures_df.head()

   year               club expenditure    income    balance
0  2014  Manchester United    €195.35m   €42.90m  €-152.45m
1  2014       Liverpool FC    €151.43m   €91.97m   €-59.46m
2  2014         Chelsea FC    €106.70m   €96.51m   €-10.19m
3  2014         Arsenal FC    €101.73m   €25.20m   €-76.53m
4  2014     Southampton FC     €82.20m  €119.83m    €37.63m