In [844]:
import pandas as pd
import numpy as np

marketValue_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/2010-2025.csv")

In [845]:
marketValue_df.head()

         date          club_name market_value current_value
0  2010-11-01    Manchester City     €360.30m       €1.31bn
1  2010-11-01         Arsenal FC     €303.00m       €1.13bn
2  2010-11-01       Liverpool FC     €275.00m      €993.50m
3  2010-11-01         Chelsea FC     €360.00m      €922.00m
4  2010-11-01  Tottenham Hotspur     €282.70m      €836.10m

#processing data for marketValue data sets

In [847]:
marketValue_df.info() #overlook of 2010-2025 market value datasets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6900 entries, 0 to 6899
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           6900 non-null   object
 1   club_name      6900 non-null   object
 2   market_value   6900 non-null   object
 3   current_value  6900 non-null   object
dtypes: object(4)
memory usage: 215.8+ KB

In [848]:
parsed_df = marketValue_df.copy()

In [849]:
parsed_df["date"] = pd.to_datetime(marketValue_df["date"])
#define a function to translate money symbol to numerical value
def parse_value(value_str):
    s = value_str.strip().replace("€","")
    if s == "-":
        return np.nan
    if s.endswith("bn"):
        numeric_part = s.replace("bn", "")
        return float(numeric_part)*1e9
    elif s.endswith("m"):
        numeric_part = s.replace("m","")
        return float(numeric_part) * 1e6
    else:
        return float(s)
parsed_df["market_value"] = marketValue_df["market_value"].apply(parse_value)
parsed_df["current_value"] = marketValue_df["current_value"].apply(parse_value)

In [850]:
marketValue_df.head()

         date          club_name market_value current_value
0  2010-11-01    Manchester City     €360.30m       €1.31bn
1  2010-11-01         Arsenal FC     €303.00m       €1.13bn
2  2010-11-01       Liverpool FC     €275.00m      €993.50m
3  2010-11-01         Chelsea FC     €360.00m      €922.00m
4  2010-11-01  Tottenham Hotspur     €282.70m      €836.10m

In [851]:
parsed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6900 entries, 0 to 6899
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           6900 non-null   datetime64[ns]
 1   club_name      6900 non-null   object
 2   market_value   6680 non-null   float64
 3   current_value  6900 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 215.8+ KB

In [852]:
parsed_df.isna().sum() #check missing value

date               0
club_name          0
market_value     220
current_value      0
dtype: int64

In [853]:
#since the data update every 15 days, we consider it is relatively short. So, use data from 15 days ago and 1 month ago will be a greate way to replace missing value.
parsed_df = parsed_df.sort_values(["club_name", "date"]).reset_index(drop=True)
parsed_df["market_value"] = parsed_df.groupby("club_name")["market_value"].ffill()

In [854]:
parsed_df.isna().sum() #check missing value, now it should be 0

date             0
club_name        0
market_value     0
current_value    0
dtype: int64

In [855]:
RawData_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/RawDataPremier.csv")

In [856]:
RawData_df.tail()

,Team_ID,TeamName,Season,Wins,Losses,Goals,Goal_Conceded,GoalsPerMatch,Shots,ShotsOnTarget,ShootingAccuracy%,PenaltiesScored,BigChancesCreated,HitWoodwork,YellowCards,RedCards,Fouls,Offsides,CleanSheets,GoalsConcededPerMatch,Saves,Tackle,TackleSuccess%,BlockedShots,Interceptions,Clearances,HeadedClearance,AerialBattle/DuelsWon,ErrorsLeadingToGoal,OwnGoals,Champion,FiredManager
193,15,Nottingham-Forest,2023/24,9,20,49,67,1.29,451,148,33%,1,65,15,78,3,311,77,4,1.76,103,728,59%,116,331,910,440,"2,554",8,2,0,1
194,18,Sheffield-United,2023/24,3,28,35,104,0.92,365,129,35%,5,40,7,95,5,306,64,1,2.74,170,709,57%,105,347,997,451,"2,466",9,7,0,1
195,21,Tottenham-Hotspur,2023/24,20,12,74,61,1.95,584,215,37%,2,90,18,89,4,314,83,7,1.61,110,724,62%,171,355,652,334,"2,319",6,3,0,0
196,25,West-Ham-United,2023/24,14,14,60,74,1.58,450,154,34%,4,58,14,76,3,300,71,5,1.95,171,684,62%,112,361,862,417,"2,585",3,4,0,0
197,38,Wolverhampton-Wanderers,2023/24,13,18,50,65,1.32,429,160,37%,4,54,12,100,4,340,78,5,1.71,142,739,58%,111,284,786,406,"2,450",3,1,0,0

In [857]:
manager_Changes_df = pd.read_csv("https://storm.cis.fordham.edu/~jcao42/manager_changes_2010_2025.csv")

In [858]:
manager_Changes_df.head()

,season,change_type,club,coach_name,role,matchday,rank1,ppg1,last_match_home,last_match_away,last_match_score,leaving_date,days_in_charge,successor_name,successor_role,rank2,ppg2,first_match_home,first_match_away,first_match_score
0,2010,Change(s) in coach at the end of the season,Chelsea FC,Carlo Ancelotti,Manager,38,2,1.87,Everton FC,Chelsea FC,1:0,"Jun 30, 2011",729,André Villas-Boas,Manager,-,-,NaN,NaN,NaN
1,2010,Change(s) in coach at the end of the season,Birmingham City,Alex McLeish,Manager,38,18,1.03,Tottenham Hotspur,Birmingham City,2:1,"Jun 12, 2011",1293,Chris Hughton,Manager,-,-,NaN,NaN,NaN
2,2010,Change(s) in coach at the end of the season,Fulham FC,Mark Hughes,Manager,38,8,1.29,Fulham FC,Arsenal FC,2:2,"Jun 2, 2011",308,Martin Jol,Manager,-,-,NaN,NaN,NaN
3,2010,Change(s) in coach at the end of the season,Aston Villa,Gérard Houllier,Manager,38,9,1.21,Aston Villa,Liverpool FC,1:0,"Jun 1, 2011",265,Alex McLeish,Manager,-,-,NaN,NaN,NaN
4,2010,Change(s) in coach at the end of the season,West Ham United,Kevin Keen,Caretaker Manager,38,20,0.00,West Ham United,Sunderland AFC,0:3,"May 31, 2011",16,Sam Allardyce,Manager,-,-,NaN,NaN,NaN

In [859]:
manager_Changes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season             248 non-null    int64
 1   change_type        248 non-null    object
 2   club               248 non-null    object
 3   coach_name         248 non-null    object
 4   role               248 non-null    object
 5   matchday           248 non-null    object
 6   rank1              248 non-null    object
 7   ppg1               248 non-null    object
 8   last_match_home    231 non-null    object
 9   last_match_away    231 non-null    object
 10  last_match_score   231 non-null    object
 11  leaving_date       248 non-null    object
 12  days_in_charge     248 non-null    int64
 13  successor_name     248 non-null    object
 14  successor_role     248 non-null    object
 15  rank2              248 non-null    object
 16  ppg2               248 non-null    object
 17  first_match_home   172 non-null    object
 18  first_match_away   172 non-null    object
 19  first_match_score  172 non-null    object
dtypes: int64(2), object(18)
memory usage: 38.9+ KB

In [860]:
#in the role, caretaker manager will not be considered since it not benefits for our analysis.
manager_Changes_df = manager_Changes_df[~manager_Changes_df["role"].str.lower().str.contains("caretaker")]
#change data as datetime
manager_Changes_df["leaving_date"] = pd.to_datetime(manager_Changes_df["leaving_date"])

In [861]:
manager_Changes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171 entries, 0 to 247
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season             171 non-null    int64
 1   change_type        171 non-null    object
 2   club               171 non-null    object
 3   coach_name         171 non-null    object
 4   role               171 non-null    object
 5   matchday           171 non-null    object
 6   rank1              171 non-null    object
 7   ppg1               171 non-null    object
 8   last_match_home    164 non-null    object
 9   last_match_away    164 non-null    object
 10  last_match_score   164 non-null    object
 11  leaving_date       171 non-null    datetime64[ns]
 12  days_in_charge     171 non-null    int64
 13  successor_name     171 non-null    object
 14  successor_role     171 non-null    object
 15  rank2              171 non-null    object
 16  ppg2               171 non-null    object
 17  first_match_home   110 non-null    object
 18  first_match_away   110 non-null    object
 19  first_match_score  110 non-null    object
dtypes: datetime64[ns](1), int64(2), object(17)
memory usage: 28.1+ KB

In [862]:
#check if they been fired
def determine_fired(change_type):
    if pd.isna(change_type):
        return np.nan
    change_type = change_type.lower()
    if "during the season" in change_type:
        return 1
    elif "at the end of the season" in change_type:
        return 0
    else:
        return np.nan  

manager_Changes_df["fired"] = manager_Changes_df["change_type"].apply(determine_fired)

In [863]:
#df after cleaning 
manager_clean = manager_Changes_df[[
    "season", "club", "coach_name", "leaving_date", "days_in_charge", "fired"
]].rename(columns={
    "club": "club_name",
    "coach_name": "manager_name"
})

In [864]:
manager_clean.head()

,season,club_name,manager_name,leaving_date,days_in_charge,fired
0,2010,Chelsea FC,Carlo Ancelotti,2011-06-30,729,0.0
1,2010,Birmingham City,Alex McLeish,2011-06-12,1293,0.0
2,2010,Fulham FC,Mark Hughes,2011-06-02,308,0.0
3,2010,Aston Villa,Gérard Houllier,2011-06-01,265,0.0
5,2010,West Ham United,Avram Grant,2011-05-15,318,1.0

In [865]:
manager_clean["fired"].value_counts(dropna=False)

fired
1.0    111
0.0     54
NaN      6
Name: count, dtype: int64

In [866]:
#deal with NaN value
#check record
print(manager_clean[manager_clean["fired"].isna()])

# what if we delete it
manager_clean = manager_clean.dropna(subset=["fired"])
print(manager_clean["fired"].value_counts(dropna=False))

     season                club_name     manager_name leaving_date  \
15     2010              Aston Villa   Martin O'Neill   2010-08-09
76     2014           Crystal Palace       Tony Pulis   2014-08-14
108    2016                Hull City      Steve Bruce   2016-07-22
109    2016           Sunderland AFC    Sam Allardyce   2016-07-21
144    2018               Chelsea FC    Antonio Conte   2018-07-13
227    2023  Wolverhampton Wanderers  Julen Lopetegui   2023-08-08

     days_in_charge  fired
15             1466    NaN
76              263    NaN
108            1482    NaN
109             286    NaN
144             742    NaN
227             267    NaN
fired
1.0    111
0.0     54
Name: count, dtype: int64

In [867]:
#we can put some values by our self base on real situation. 
fired_manual = {
    "Martin O'Neill": 0,
    "Tony Pulis": 1,
    "Steve Bruce": 0,
    "Sam Allardyce": 0,
    "Antonio Conte": 1,
    "Julen Lopetegui": 0
}

manager_clean["fired"] = manager_clean.apply(
    lambda row: fired_manual[row["manager_name"]] if pd.isna(row["fired"]) and row["manager_name"] in fired_manual else row["fired"],
    axis=1
)

In [868]:
print(manager_clean["fired"].value_counts())

fired
1.0    111
0.0     54
Name: count, dtype: int64

In [869]:
print(manager_clean[["club_name", "season"]].drop_duplicates().head())
print(parsed_df[["club_name", "date"]].drop_duplicates().head())

         club_name  season
0       Chelsea FC    2010
1  Birmingham City    2010
2        Fulham FC    2010
3      Aston Villa    2010
5  West Ham United    2010
         club_name       date
0  AFC Bournemouth 2010-11-01
1  AFC Bournemouth 2010-11-15
2  AFC Bournemouth 2010-12-01
3  AFC Bournemouth 2010-12-15
4  AFC Bournemouth 2011-01-01

In [870]:
Income_Expanditures_df= pd.read_csv("https://storm.cis.fordham.edu/~jcao42/PremierLeague_Transfers_Income_expenditures_2014_2024.csv")

In [871]:
Income_Expanditures_df.head()

   year               club expenditure    income    balance
0  2014  Manchester United    €195.35m   €42.90m  €-152.45m
1  2014       Liverpool FC    €151.43m   €91.97m   €-59.46m
2  2014         Chelsea FC    €106.70m   €96.51m   €-10.19m
3  2014         Arsenal FC    €101.73m   €25.20m   €-76.53m
4  2014     Southampton FC     €82.20m  €119.83m    €37.63m

In [872]:
Income_Expanditures_df.tail()

     year                     club expenditure    income   balance
215  2024  Wolverhampton Wanderers     €74.40m  €112.50m   €38.10m
216  2024         Newcastle United     €68.20m   €76.20m    €8.00m
217  2024               Everton FC     €50.20m   €83.65m   €33.45m
218  2024             Liverpool FC     €42.00m   €47.00m    €5.00m
219  2024          Manchester City     €25.00m  €141.00m  €116.00m

In [873]:
Income_Expanditures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         220 non-null    int64
 1   club         220 non-null    object
 2   expenditure  220 non-null    object
 3   income       220 non-null    object
 4   balance      220 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.7+ KB

In [874]:
marketValue_df[marketValue_df['club_name'] == 'Manchester City']

            date        club_name market_value current_value
0     2010-11-01  Manchester City     €360.30m       €1.31bn
20    2010-11-15  Manchester City     €357.30m       €1.31bn
40    2010-12-01  Manchester City     €357.30m       €1.31bn
60    2010-12-15  Manchester City     €357.30m       €1.31bn
80    2011-01-01  Manchester City     €357.30m       €1.31bn
100   2011-01-15  Manchester City     €374.30m       €1.31bn
120   2011-02-01  Manchester City     €351.30m       €1.31bn
140   2011-02-15  Manchester City     €366.75m       €1.31bn
160   2011-03-01  Manchester City     €366.75m       €1.31bn
180   2011-03-15  Manchester City     €366.75m       €1.31bn
200   2011-04-01  Manchester City     €366.75m       €1.31bn
220   2011-04-15  Manchester City     €366.75m       €1.31bn
240   2011-05-01  Manchester City     €366.75m       €1.31bn
260   2011-05-15  Manchester City     €366.75m       €1.31bn
280   2011-06-01  Manchester City     €390.25m       €1.31bn
300   2011-06-15  Manchester City     €390.25m       €1.31bn
320   2011-07-01  Manchester City            -       €1.31bn
340   2011-07-15  Manchester City     €409.50m       €1.31bn
360   2011-08-01  Manchester City     €434.50m       €1.31bn
380   2011-08-15  Manchester City     €441.50m       €1.31bn
400   2011-09-01  Manchester City     €443.00m       €1.31bn
420   2011-09-15  Manchester City     €433.50m       €1.31bn
440   2011-10-01  Manchester City     €433.50m       €1.31bn
460   2011-10-15  Manchester City     €433.50m       €1.31bn
480   2011-11-01  Manchester City     €433.50m       €1.31bn
500   2011-11-15  Manchester City     €433.50m       €1.31bn
520   2011-12-01  Manchester City     €433.50m       €1.31bn
540   2011-12-15  Manchester City     €433.50m       €1.31bn
560   2012-01-01  Manchester City     €433.50m       €1.31bn
580   2012-01-15  Manchester City     €433.50m       €1.31bn
600   2012-02-01  Manchester City     €426.50m       €1.31bn
620   2012-02-15  Manchester City     €467.00m       €1.31bn
640   2012-03-01  Manchester City     €467.00m       €1.31bn
660   2012-03-15  Manchester City     €467.00m       €1.31bn
680   2012-04-01  Manchester City     €467.00m       €1.31bn
700   2012-04-15  Manchester City     €467.00m       €1.31bn
720   2012-05-01  Manchester City     €467.00m       €1.31bn
740   2012-05-15  Manchester City     €467.00m       €1.31bn
760   2012-06-01  Manchester City     €496.00m       €1.31bn
780   2012-06-15  Manchester City     €496.00m       €1.31bn
800   2012-07-01  Manchester City     €483.25m       €1.31bn
820   2012-07-15  Manchester City     €498.50m       €1.31bn
840   2012-08-01  Manchester City     €498.50m       €1.31bn
860   2012-08-15  Manchester City     €510.00m       €1.31bn
880   2012-09-01  Manchester City     €489.25m       €1.31bn
900   2012-09-15  Manchester City     €498.25m       €1.31bn
920   2012-10-01  Manchester City     €498.25m       €1.31bn
940   2012-10-15  Manchester City     €498.25m       €1.31bn
960   2012-11-01  Manchester City     €498.25m       €1.31bn
980   2012-11-15  Manchester City     €498.25m       €1.31bn
1000  2012-12-01  Manchester City     €498.25m       €1.31bn
1020  2012-12-15  Manchester City     €498.25m       €1.31bn
1040  2013-01-01  Manchester City     €498.75m       €1.31bn
1060  2013-01-15  Manchester City     €500.00m       €1.31bn
1080  2013-02-01  Manchester City     €435.00m       €1.31bn
1100  2013-02-15  Manchester City     €433.25m       €1.31bn
1120  2013-03-01  Manchester City     €433.25m       €1.31bn
1140  2013-03-15  Manchester City     €433.25m       €1.31bn
1160  2013-04-01  Manchester City     €433.25m       €1.31bn
1180  2013-04-15  Manchester City     €433.25m       €1.31bn
1200  2013-05-01  Manchester City     €433.25m       €1.31bn
1220  2013-05-15  Manchester City     €433.25m       €1.31bn
1240  2013-06-01  Manchester City     €434.75m       €1.31bn
1260  2013-06-15  Manchester City     €434.75m       €1.31bn
1280  2013-07-01  Manchester City     €452.25m       €1.31bn
1300  2013-07-15  Manchester City     €436.25m       €1.31bn
1320  2013-08-01  Manchester City     €480.25m       €1.31bn
1340  2013-08-15  Manchester City     €480.25m       €1.31bn
1360  2013-09-01  Manchester City     €472.75m       €1.31bn
1380  2013-09-15  Manchester City     €469.75m       €1.31bn
1400  2013-10-01  Manchester City     €472.75m       €1.31bn
1420  2013-10-15  Manchester City     €472.75m       €1.31bn
1440  2013-11-01  Manchester City     €472.75m       €1.31bn
1460  2013-11-15  Manchester City     €472.75m       €1.31bn
1480  2013-12-01  Manchester City     €472.75m       €1.31bn
1500  2013-12-15  Manchester City     €472.75m       €1.31bn
1520  2014-01-01  Manchester City     €473.50m       €1.31bn
1540  2014-01-15  Manchester City     €472.75m       €1.31bn
1560  2014-02-01  Manchester City     €451.00m       €1.31bn
1580  2014-02-15  Manchester City     €451.00m       €1.31bn
1600  2014-03-01  Manchester City     €451.00m       €1.31bn
1620  2014-03-15  Manchester City     €451.00m       €1.31bn
1640  2014-04-01  Manchester City     €451.00m       €1.31bn
1660  2014-04-15  Manchester City     €451.00m       €1.31bn
1680  2014-05-01  Manchester City     €451.00m       €1.31bn
1700  2014-05-15  Manchester City     €451.00m       €1.31bn
1720  2014-06-01  Manchester City            -       €1.31bn
1740  2014-06-15  Manchester City            -       €1.31bn
1760  2014-07-01  Manchester City            -       €1.31bn
1780  2014-07-15  Manchester City            -       €1.31bn
1800  2014-08-01  Manchester City            -       €1.31bn
1820  2014-08-15  Manchester City            -       €1.31bn
1840  2014-09-01  Manchester City            -       €1.31bn
1860  2014-09-15  Manchester City            -       €1.31bn
1880  2014-10-01  Manchester City            -       €1.31bn
1900  2014-10-15  Manchester City            -       €1.31bn
1920  2014-11-01  Manchester City     €441.25m       €1.31bn
1940  2014-11-15  Manchester City     €441.25m       €1.31bn
1960  2014-12-01  Manchester City     €441.25m       €1.31bn
1980  2014-12-15  Manchester City     €441.25m       €1.31bn
2000  2015-01-01  Manchester City     €440.50m       €1.31bn
2020  2015-01-15  Manchester City     €437.25m       €1.31bn
2040  2015-02-01  Manchester City     €433.25m       €1.31bn
2060  2015-02-15  Manchester City     €418.25m       €1.31bn
2080  2015-03-01  Manchester City     €418.25m       €1.31bn
2100  2015-03-15  Manchester City     €418.25m       €1.31bn
2120  2015-04-01  Manchester City     €418.25m       €1.31bn
2140  2015-04-15  Manchester City     €418.25m       €1.31bn
2160  2015-05-01  Manchester City     €418.25m       €1.31bn
2180  2015-05-15  Manchester City     €418.25m       €1.31bn
2200  2015-06-01  Manchester City     €425.25m       €1.31bn
2220  2015-06-15  Manchester City     €425.25m       €1.31bn
2240  2015-07-01  Manchester City     €434.45m       €1.31bn
2260  2015-07-15  Manchester City     €443.95m       €1.31bn
2280  2015-08-01  Manchester City     €438.25m       €1.31bn
2300  2015-08-15  Manchester City     €418.35m       €1.31bn
2320  2015-09-01  Manchester City     €480.85m       €1.31bn
2340  2015-09-15  Manchester City     €480.85m       €1.31bn
2360  2015-10-01  Manchester City     €480.85m       €1.31bn
2380  2015-10-15  Manchester City     €516.00m       €1.31bn
2400  2015-11-01  Manchester City     €514.50m       €1.31bn
2420  2015-11-15  Manchester City     €514.50m       €1.31bn
2440  2015-12-01  Manchester City     €516.00m       €1.31bn
2460  2015-12-15  Manchester City     €514.50m       €1.31bn
2480  2016-01-01  Manchester City     €514.50m       €1.31bn
2500  2016-01-15  Manchester City     €516.50m       €1.31bn
2520  2016-02-01  Manchester City     €511.50m       €1.31bn
2540  2016-02-15  Manchester City     €501.75m       €1.31bn
2560  2016-03-01  Manchester City     €501.75m       €1.31bn
2580  2016-03-15  Manchester City     €501.75m       €1.31bn
2600  2016-04-01  Manchester City     €501.75m       €1.31bn
2620  2016-04-15  Manchester City     €501.75m       €1.31bn
2640  2016-05-01  Manchester City     €501.75m       €1.31bn
2660  2016-05-15  Manchester City     €501.75m       €1.31bn
2680  2016-06-01  Manchester City     €501.95m       €1.31bn
2700  2016-06-15  Manchester City     €489.75m       €1.31bn
2720  2016-07-01  Manchester City     €526.65m       €1.31bn
2740  2016-07-15  Manchester City     €541.50m       €1.31bn
2760  2016-08-01  Manchester City     €541.50m       €1.31bn
2780  2016-08-15  Manchester City     €589.50m       €1.31bn
2800  2016-09-01  Manchester City     €518.00m       €1.31bn
2820  2016-09-15  Manchester City     €518.00m       €1.31bn
2840  2016-10-01  Manchester City     €518.00m       €1.31bn
2860  2016-10-15  Manchester City     €518.00m       €1.31bn
2880  2016-11-01  Manchester City     €524.25m       €1.31bn
2900  2016-11-15  Manchester City     €524.25m       €1.31bn
2920  2016-12-01  Manchester City     €524.25m       €1.31bn
2940  2016-12-15  Manchester City     €524.25m       €1.31bn
2960  2017-01-01  Manchester City     €532.25m       €1.31bn
2980  2017-01-15  Manchester City     €540.25m       €1.31bn
3000  2017-02-01  Manchester City     €540.25m       €1.31bn
3020  2017-02-15  Manchester City     €540.25m       €1.31bn
3040  2017-03-01  Manchester City     €525.25m       €1.31bn
3060  2017-03-15  Manchester City     €525.25m       €1.31bn
3080  2017-04-01  Manchester City     €525.25m       €1.31bn
3100  2017-04-15  Manchester City     €525.25m       €1.31bn
3120  2017-05-01  Manchester City     €525.25m       €1.31bn
3140  2017-05-15  Manchester City     €525.25m       €1.31bn
3160  2017-06-01  Manchester City     €553.25m       €1.31bn
3180  2017-06-15  Manchester City     €553.25m       €1.31bn
3200  2017-07-01  Manchester City     €605.45m       €1.31bn
3220  2017-07-15  Manchester City     €648.60m       €1.31bn
3240  2017-08-01  Manchester City     €642.00m       €1.31bn
3260  2017-08-15  Manchester City     €615.25m       €1.31bn
3280  2017-09-01  Manchester City     €606.75m       €1.31bn
3300  2017-09-15  Manchester City     €588.50m       €1.31bn
3320  2017-10-01  Manchester City     €588.50m       €1.31bn
3340  2017-10-15  Manchester City     €588.50m       €1.31bn
3360  2017-11-01  Manchester City     €629.50m       €1.31bn
3380  2017-11-15  Manchester City     €629.50m       €1.31bn
3400  2017-12-01  Manchester City     €629.50m       €1.31bn
3420  2017-12-15  Manchester City     €629.50m       €1.31bn
3440  2018-01-01  Manchester City     €629.50m       €1.31bn
3460  2018-01-15  Manchester City     €782.50m       €1.31bn
3480  2018-02-01  Manchester City     €807.50m       €1.31bn
3500  2018-02-15  Manchester City     €793.50m       €1.31bn
3520  2018-03-01  Manchester City     €792.50m       €1.31bn
3540  2018-03-15  Manchester City     €792.50m       €1.31bn
3560  2018-04-01  Manchester City     €856.50m       €1.31bn
3580  2018-04-15  Manchester City     €856.50m       €1.31bn
3600  2018-05-01  Manchester City     €856.50m       €1.31bn
3620  2018-05-15  Manchester City     €856.50m       €1.31bn
3640  2018-06-01  Manchester City      €1.01bn       €1.31bn
3660  2018-06-15  Manchester City      €1.01bn       €1.31bn
3680  2018-07-01  Manchester City      €1.02bn       €1.31bn
3700  2018-07-15  Manchester City      €1.06bn       €1.31bn
3720  2018-08-01  Manchester City      €1.06bn       €1.31bn
3740  2018-08-15  Manchester City      €1.07bn       €1.31bn
3760  2018-09-01  Manchester City      €1.06bn       €1.31bn
3780  2018-09-15  Manchester City      €1.06bn       €1.31bn
3800  2018-10-01  Manchester City      €1.06bn       €1.31bn
3820  2018-10-15  Manchester City      €1.06bn       €1.31bn
3840  2018-11-01  Manchester City      €1.09bn       €1.31bn
3860  2018-11-15  Manchester City      €1.09bn       €1.31bn
3880  2018-12-01  Manchester City      €1.09bn       €1.31bn
3900  2018-12-15  Manchester City      €1.09bn       €1.31bn
3920  2019-01-01  Manchester City      €1.13bn       €1.31bn
3940  2019-01-15  Manchester City      €1.13bn       €1.31bn
3960  2019-02-01  Manchester City      €1.13bn       €1.31bn
3980  2019-02-15  Manchester City      €1.13bn       €1.31bn
4000  2019-03-01  Manchester City      €1.13bn       €1.31bn
4020  2019-03-15  Manchester City      €1.14bn       €1.31bn
4040  2019-04-01  Manchester City      €1.14bn       €1.31bn
4060  2019-04-15  Manchester City      €1.14bn       €1.31bn
4080  2019-05-01  Manchester City      €1.14bn       €1.31bn
4100  2019-05-15  Manchester City      €1.14bn       €1.31bn
4120  2019-06-01  Manchester City      €1.14bn       €1.31bn
4140  2019-06-15  Manchester City      €1.17bn       €1.31bn
4160  2019-07-01  Manchester City      €1.17bn       €1.31bn
4180  2019-07-15  Manchester City      €1.26bn       €1.31bn
4200  2019-08-01  Manchester City      €1.24bn       €1.31bn
4220  2019-08-15  Manchester City      €1.27bn       €1.31bn
4240  2019-09-01  Manchester City      €1.27bn       €1.31bn
4260  2019-09-15  Manchester City      €1.28bn       €1.31bn
4280  2019-10-01  Manchester City      €1.28bn       €1.31bn
4300  2019-10-15  Manchester City      €1.28bn       €1.31bn
4320  2019-11-01  Manchester City      €1.28bn       €1.31bn
4340  2019-11-15  Manchester City      €1.28bn       €1.31bn
4360  2019-12-01  Manchester City      €1.28bn       €1.31bn
4380  2019-12-15  Manchester City      €1.30bn       €1.31bn
4400  2020-01-01  Manchester City      €1.30bn       €1.31bn
4420  2020-01-15  Manchester City      €1.30bn       €1.31bn
4440  2020-02-01  Manchester City      €1.29bn       €1.31bn
4460  2020-02-15  Manchester City      €1.29bn       €1.31bn
4480  2020-03-01  Manchester City      €1.29bn       €1.31bn
4500  2020-03-15  Manchester City      €1.27bn       €1.31bn
4520  2020-04-01  Manchester City      €1.27bn       €1.31bn
4540  2020-04-15  Manchester City      €1.02bn       €1.31bn
4560  2020-05-01  Manchester City      €1.02bn       €1.31bn
4580  2020-05-15  Manchester City      €1.02bn       €1.31bn
4600  2020-06-01  Manchester City      €1.03bn       €1.31bn
4620  2020-06-15  Manchester City      €1.02bn       €1.31bn
4640  2020-07-01  Manchester City      €1.06bn       €1.31bn
4660  2020-07-15  Manchester City     €981.95m       €1.31bn
4680  2020-08-01  Manchester City      €1.03bn       €1.31bn
4700  2020-08-15  Manchester City      €1.07bn       €1.31bn
4720  2020-09-01  Manchester City      €1.06bn       €1.31bn
4740  2020-09-15  Manchester City      €1.04bn       €1.31bn
4760  2020-10-01  Manchester City      €1.05bn       €1.31bn
4780  2020-10-15  Manchester City      €1.08bn       €1.31bn
4800  2020-11-01  Manchester City      €1.08bn       €1.31bn
4820  2020-11-15  Manchester City      €1.08bn       €1.31bn
4840  2020-12-01  Manchester City      €1.08bn       €1.31bn
4860  2020-12-15  Manchester City      €1.08bn       €1.31bn
4880  2021-01-01  Manchester City      €1.06bn       €1.31bn
4900  2021-01-15  Manchester City      €1.06bn       €1.31bn
4920  2021-02-01  Manchester City      €1.06bn       €1.31bn
4940  2021-02-15  Manchester City      €1.06bn       €1.31bn
4960  2021-03-01  Manchester City      €1.06bn       €1.31bn
4980  2021-03-15  Manchester City      €1.06bn       €1.31bn
5000  2021-04-01  Manchester City      €1.03bn       €1.31bn
5020  2021-04-15  Manchester City      €1.03bn       €1.31bn
5040  2021-05-01  Manchester City      €1.03bn       €1.31bn
5060  2021-05-15  Manchester City      €1.03bn       €1.31bn
5080  2021-06-01  Manchester City      €1.03bn       €1.31bn
5100  2021-06-15  Manchester City      €1.03bn       €1.31bn
5120  2021-07-01  Manchester City      €1.11bn       €1.31bn
5140  2021-07-15  Manchester City      €1.02bn       €1.31bn
5160  2021-08-01  Manchester City      €1.00bn       €1.31bn
5180  2021-08-15  Manchester City      €1.06bn       €1.31bn
5200  2021-09-01  Manchester City      €1.04bn       €1.31bn
5220  2021-09-15  Manchester City      €1.04bn       €1.31bn
5240  2021-10-01  Manchester City      €1.05bn       €1.31bn
5260  2021-10-15  Manchester City      €1.08bn       €1.31bn
5280  2021-11-01  Manchester City      €1.08bn       €1.31bn
5300  2021-11-15  Manchester City      €1.08bn       €1.31bn
5320  2021-12-01  Manchester City      €1.08bn       €1.31bn
5340  2021-12-15  Manchester City      €1.08bn       €1.31bn
5360  2022-01-01  Manchester City      €1.04bn       €1.31bn
5380  2022-01-15  Manchester City     €992.10m       €1.31bn
5400  2022-02-01  Manchester City     €993.30m       €1.31bn
5420  2022-02-15  Manchester City     €991.30m       €1.31bn
5440  2022-03-01  Manchester City     €991.30m       €1.31bn
5460  2022-03-15  Manchester City     €977.30m       €1.31bn
5480  2022-04-01  Manchester City     €959.30m       €1.31bn
5500  2022-04-15  Manchester City     €959.30m       €1.31bn
5520  2022-05-01  Manchester City     €959.30m       €1.31bn
5540  2022-05-15  Manchester City     €959.30m       €1.31bn
5560  2022-06-01  Manchester City     €959.30m       €1.31bn
5580  2022-06-15  Manchester City     €959.30m       €1.31bn
5600  2022-07-01  Manchester City      €1.11bn       €1.31bn
5620  2022-07-15  Manchester City      €1.06bn       €1.31bn
5640  2022-08-01  Manchester City      €1.02bn       €1.31bn
5660  2022-08-15  Manchester City      €1.01bn       €1.31bn
5680  2022-09-01  Manchester City      €1.01bn       €1.31bn
5700  2022-09-15  Manchester City      €1.04bn       €1.31bn
5720  2022-10-01  Manchester City      €1.06bn       €1.31bn
5740  2022-10-15  Manchester City      €1.06bn       €1.31bn
5760  2022-11-01  Manchester City      €1.06bn       €1.31bn
5780  2022-11-15  Manchester City      €1.09bn       €1.31bn
5800  2022-12-01  Manchester City      €1.09bn       €1.31bn
5820  2022-12-15  Manchester City      €1.09bn       €1.31bn
5840  2023-01-01  Manchester City      €1.11bn       €1.31bn
5860  2023-01-15  Manchester City      €1.11bn       €1.31bn
5880  2023-02-01  Manchester City      €1.05bn       €1.31bn
5900  2023-02-15  Manchester City      €1.05bn       €1.31bn
5920  2023-03-01  Manchester City      €1.05bn       €1.31bn
5940  2023-03-15  Manchester City      €1.05bn       €1.31bn
5960  2023-04-01  Manchester City      €1.05bn       €1.31bn
5980  2023-04-15  Manchester City      €1.05bn       €1.31bn
6000  2023-05-01  Manchester City      €1.05bn       €1.31bn
6020  2023-05-15  Manchester City      €1.05bn       €1.31bn
6040  2023-06-01  Manchester City      €1.06bn       €1.31bn
6060  2023-06-15  Manchester City      €1.05bn       €1.31bn
6080  2023-07-01  Manchester City      €1.15bn       €1.31bn
6100  2023-07-15  Manchester City      €1.19bn       €1.31bn
6120  2023-08-01  Manchester City      €1.16bn       €1.31bn
6140  2023-08-15  Manchester City      €1.25bn       €1.31bn
6160  2023-09-01  Manchester City      €1.24bn       €1.31bn
6180  2023-09-15  Manchester City      €1.18bn       €1.31bn
6200  2023-10-01  Manchester City      €1.18bn       €1.31bn
6220  2023-10-15  Manchester City      €1.26bn       €1.31bn
6240  2023-11-01  Manchester City      €1.26bn       €1.31bn
6260  2023-11-15  Manchester City      €1.26bn       €1.31bn
6280  2023-12-01  Manchester City      €1.26bn       €1.31bn
6300  2023-12-15  Manchester City      €1.26bn       €1.31bn
6320  2024-01-01  Manchester City      €1.29bn       €1.31bn
6340  2024-01-15  Manchester City      €1.29bn       €1.31bn
6360  2024-02-01  Manchester City      €1.26bn       €1.31bn
6380  2024-02-15  Manchester City      €1.26bn       €1.31bn
6400  2024-03-01  Manchester City      €1.26bn       €1.31bn
6420  2024-03-15  Manchester City      €1.27bn       €1.31bn
6440  2024-04-01  Manchester City      €1.27bn       €1.31bn
6460  2024-04-15  Manchester City      €1.27bn       €1.31bn
6480  2024-05-01  Manchester City      €1.27bn       €1.31bn
6500  2024-05-15  Manchester City      €1.27bn       €1.31bn

In [875]:
RawData_df['Season'] = RawData_df['Season'].str.slice(0, 4)
RawData_df['TeamName'] = RawData_df['TeamName'].str.replace('-',' ')
manager_clean['club_name'] = manager_clean['club_name'].str.replace(' FC', '').str.replace(' LC', '').str.replace(' AFC', '').str.replace('&', 'and').str.replace('AFC ', '')

In [876]:
RawData_df = RawData_df.rename(columns={
    "TeamName": "club_name",
    "Season": "season"
})

In [877]:
RawData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team_ID                198 non-null    int64
 1   club_name              198 non-null    object
 2   season                 198 non-null    object
 3   Wins                   198 non-null    int64
 4   Losses                 198 non-null    int64
 5   Goals                  198 non-null    int64
 6   Goal_Conceded          198 non-null    int64
 7   GoalsPerMatch          198 non-null    float64
 8   Shots                  198 non-null    int64
 9   ShotsOnTarget          198 non-null    int64
 10  ShootingAccuracy%      198 non-null    object
 11  PenaltiesScored        198 non-null    int64
 12  BigChancesCreated      198 non-null    int64
 13  HitWoodwork            198 non-null    int64
 14  YellowCards            198 non-null    int64
 15  RedCards               198 non-null    int64
 16  Fouls                  198 non-null    int64
 17  Offsides               198 non-null    int64
 18  CleanSheets            198 non-null    int64
 19  GoalsConcededPerMatch  198 non-null    float64
 20  Saves                  198 non-null    int64
 21  Tackle                 198 non-null    int64
 22  TackleSuccess%         198 non-null    object
 23  BlockedShots           198 non-null    int64
 24  Interceptions          198 non-null    int64
 25  Clearances             198 non-null    object
 26  HeadedClearance        198 non-null    int64
 27  AerialBattle/DuelsWon  198 non-null    object
 28  ErrorsLeadingToGoal    198 non-null    int64
 29  OwnGoals               198 non-null    int64
 30  Champion               198 non-null    int64
 31  FiredManager           198 non-null    int64
dtypes: float64(2), int64(24), object(6)
memory usage: 49.6+ KB

In [878]:
RawData_df['season'] = RawData_df['season'].astype('int64')

In [879]:
manager_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, 0 to 247
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season          165 non-null    int64
 1   club_name       165 non-null    object
 2   manager_name    165 non-null    object
 3   leaving_date    165 non-null    datetime64[ns]
 4   days_in_charge  165 non-null    int64
 5   fired           165 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.0+ KB

In [880]:
RawData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team_ID                198 non-null    int64
 1   club_name              198 non-null    object
 2   season                 198 non-null    int64
 3   Wins                   198 non-null    int64
 4   Losses                 198 non-null    int64
 5   Goals                  198 non-null    int64
 6   Goal_Conceded          198 non-null    int64
 7   GoalsPerMatch          198 non-null    float64
 8   Shots                  198 non-null    int64
 9   ShotsOnTarget          198 non-null    int64
 10  ShootingAccuracy%      198 non-null    object
 11  PenaltiesScored        198 non-null    int64
 12  BigChancesCreated      198 non-null    int64
 13  HitWoodwork            198 non-null    int64
 14  YellowCards            198 non-null    int64
 15  RedCards               198 non-null    int64
 16  Fouls                  198 non-null    int64
 17  Offsides               198 non-null    int64
 18  CleanSheets            198 non-null    int64
 19  GoalsConcededPerMatch  198 non-null    float64
 20  Saves                  198 non-null    int64
 21  Tackle                 198 non-null    int64
 22  TackleSuccess%         198 non-null    object
 23  BlockedShots           198 non-null    int64
 24  Interceptions          198 non-null    int64
 25  Clearances             198 non-null    object
 26  HeadedClearance        198 non-null    int64
 27  AerialBattle/DuelsWon  198 non-null    object
 28  ErrorsLeadingToGoal    198 non-null    int64
 29  OwnGoals               198 non-null    int64
 30  Champion               198 non-null    int64
 31  FiredManager           198 non-null    int64
dtypes: float64(2), int64(25), object(5)
memory usage: 49.6+ KB

In [881]:
df_merge = pd.merge(RawData_df, manager_clean, on=['club_name', 'season'], how='left')

In [882]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team_ID                221 non-null    int64
 1   club_name              221 non-null    object
 2   season                 221 non-null    int64
 3   Wins                   221 non-null    int64
 4   Losses                 221 non-null    int64
 5   Goals                  221 non-null    int64
 6   Goal_Conceded          221 non-null    int64
 7   GoalsPerMatch          221 non-null    float64
 8   Shots                  221 non-null    int64
 9   ShotsOnTarget          221 non-null    int64
 10  ShootingAccuracy%      221 non-null    object
 11  PenaltiesScored        221 non-null    int64
 12  BigChancesCreated      221 non-null    int64
 13  HitWoodwork            221 non-null    int64
 14  YellowCards            221 non-null    int64
 15  RedCards               221 non-null    int64
 16  Fouls                  221 non-null    int64
 17  Offsides               221 non-null    int64
 18  CleanSheets            221 non-null    int64
 19  GoalsConcededPerMatch  221 non-null    float64
 20  Saves                  221 non-null    int64
 21  Tackle                 221 non-null    int64
 22  TackleSuccess%         221 non-null    object
 23  BlockedShots           221 non-null    int64
 24  Interceptions          221 non-null    int64
 25  Clearances             221 non-null    object
 26  HeadedClearance        221 non-null    int64
 27  AerialBattle/DuelsWon  221 non-null    object
 28  ErrorsLeadingToGoal    221 non-null    int64
 29  OwnGoals               221 non-null    int64
 30  Champion               221 non-null    int64
 31  FiredManager           221 non-null    int64
 32  manager_name           107 non-null    object
 33  leaving_date           107 non-null    datetime64[ns]
 34  days_in_charge         107 non-null    float64
 35  fired                  107 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(25), object(6)
memory usage: 62.3+ KB

In [887]:
#In RawData_df but not manager_clean: Brentford, Luton Town
#In manager_clean but not RawData_df: Queens Park Rangers, Wigan Athletic, Blackburn Rovers